.chooseButtonBox{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    padding: 0.3rem 1.1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 55px;
    max-height: 30px;
    word-wrap: break-word;
}